#suggestion-list {
    position: relative;
    z-index: 1000;
    /* display: none; */
    top: 5px;
    width: 100%;
    background-color: #ccc;
}

#suggestion-list li {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    background-color: #eee;
}

#suggestion-list li:hover {
    color: #ffffff;
    background-color: #FF9F43;
}